:root {
  --primary-text-color: #212121;
  --secondary-text-color: #979797;
  --white-text-color: #ffffff;
  --accent-color: #e21212;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #b4b4b4;
  --yellow-background-color: #f4b404;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
}

/* убираем точки списков */
.list {
  list-style: none;
}

/* убираем подчеркивание ссылок */
.link {
  text-decoration: none;
}

/* глобальный сброс margin, padding */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19;
  align-items: center;
  text-align: center;
  text-transform:uppercase;
  
    
  color: var(--accent-color);
}

.section-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-transform:uppercase;

  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* ------------header-------------- */

.header {
  /* position: fixed;  
  top: 0;  
  z-index: 100;  
  width: 100%;  */

  border-bottom: 1px solid #2b2828;
  background-color: #2f303a;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  margin-left: 40px;
}

.header-nav-item:not(:last-child) {
  margin-right: 35px;
}

.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--white-text-color);

  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-list {
  display: flex;
  margin-left: auto;
}

.header-contact-item + .header-contact-item {
  margin-left: 35px;
}

.header-contact-link, .team-contact-link {
  display: inline-flex;
  padding: 32px 0px 32px;
  /* color: var(--secondary-text-color); */
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus,
.team-contact-link:hover,
.team-contact-link:focus {
  color: var(--accent-color);
}

.header-nav-link.current {
  color: var(--accent-color);
}

.header-nav-link.current::after { 
  position: absolute;

  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;

  background-color: var(--accent-color);
}

/* ------------hero-------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  /* margin-top: 100px; */

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/ochrona.jpg);
  background-color: var(--hero-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}

.hero-title {
  /* margin-bottom: 30px; */
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}



/* ------------services-section-------------- */

.services-section{
      position: relative;
padding-top: 50px;
padding-bottom: 50px;
  }

.services-section::before{
 content: "";
  width: 100%;
  height: 40vw;
  background-image: linear-gradient(var(--yellow-background-color), var(--white-background-color));
  position: absolute;
  top: 0;
  left: 0;
  transform: skewX(-50deg);
  transform-origin: left top;
  z-index: -1;
}

.services-text, .team-slogan{
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 40px;
   text-transform: uppercase;
}

.services-list{
 display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 35px;
}

.services-item{
    border: 1px solid #2b2828;
    background-color: var(--team-background-color);
    padding: 10px;
    width: 350px;
    max-width: 440px;
    color: var(--primary-text-color);
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);


}

.services-title{
margin-bottom: 20px;

    font-weight: 600;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

.services-title-text{
      text-align:center;
}

/* ------------team-section-------------- */

.team-section{
background-image: linear-gradient(
      to right,
      rgba(36, 37, 45, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/black-grunge-surface-texture_548373-634.avif);
  background-color: var(--hero-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;   
    padding-top: 60px;
    padding-bottom: 60px;
}

.team-text{
    font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
    color: var(--white-text-color);
    text-align: center;
margin-bottom: 5px;}


.team-list{
    margin-top: 60px;

     display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 35px;
}

.team-item{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);

  border: 1px solid #2b2828;
    background-color: var(--team-background-color);
    padding: 10px;
    max-width: 574px;
    color: var(--primary-text-color);
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.team-img{
        border-radius: 16px;
    box-shadow: 40px 40px 40px rgba(250, 249, 249, 0.1);

}

.team-contact-link{
    font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

/* ------------experience-section-------------- */


.experience-section{
position: relative;
padding-top: 60px;
padding-bottom: 60px;
}

.experience-section::before{
 content: "";
  width: 100%;
  height: 40vw;
  background-image: linear-gradient(var(--yellow-background-color), var(--white-background-color));
  position: absolute;
  top: 0;
  right: 0;
  transform: skewX(-50deg);
  transform-origin: right top;
  z-index: -1;
}

.team-slogan{
margin-bottom: 60px;
}

.experience-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.experience-item{
    background-color: var(--team-background-color);
    padding: 10px;
    width: 350px;
    max-width: 400px;
    color: var(--primary-text-color);
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);

  border-radius: 16px;
    box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
}

.experience-pretext{
  font-weight: 900;
  font-size: 50px;
  line-height: 1.6;
  letter-spacing: 0.04em;

  color: var(--accent-color);
}

.experience-text{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin-top: 10px;
}

/* ------------client-section-------------- */

.client-section{
padding: 60px;
  background-color: var(--hero-background-color);

}


.client-section-title{
  color: var(--white-text-color);
  margin-bottom: 30px;
}

.client-text{
  color: var(--white-text-color);
  margin-bottom: 30px;
  text-align: center;
}

.client-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  grid-auto-rows: minmax(100px, auto);
}

.client-item{
   border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.87);

  border-radius: 16px;
    box-shadow: 10px 40px 30px rgba(255, 255, 255, 0.1);
    padding: 60px;
}

/* ------------section-contact-------------- */


.section-contact{
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;

}

.section-contact::before{
 content: "";
  width: 100%;
  height: 20vw;
  background-image: linear-gradient(var(--yellow-background-color), var(--white-background-color));
  position: absolute;
  top: 0;
  right: 0;
  transform: skewX(-50deg);
  transform-origin: right top;
  z-index: -1;
}

.contact-text{
  margin-top: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.contact-form-text{
margin-top: 15px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-btn {

     position: relative;
left: 50%;
transform: translate(-50%, 0); 


  display: inline-block;
  min-width: 200px;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--black-logo-color);

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.12em;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--primary-text-color);
  color: var(--white-text-color);
}

/* .contact-photo-list{
  padding-left: 10px;
  padding-right: 10px;
margin-top: 60px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
} */

/* ------------footer-------------- */

.footer{
   background-color: #2f303a;
   color: var(--white-text-color);
   padding-top: 10px;
   padding-bottom: 25px;
}

.footer-logo{
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 5px;
}

.footer-flex {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  margin-top: 80px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  text-align: center;

  color: var(--white-text-color);
}

.footer-social-flex {
  margin-left: 150px;
  width: 206px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
  margin-top: 0;
  list-style: none;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  display: block;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: #ffffff;
  background-color: #ffffff10;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.footer-social-icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}

.logo-white {
  color: var(--white-text-color);
}

.footer-contact {
  margin-top: 20px;
}

.footer-contact-link {
  color: var(--white-text-color);
}

.footer-contact-link.address {
  color: var(--white-text-color);
}

.footer-contact-item {
  margin-top: 10px;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

.footer-info {
margin-left: 150px;  

}

.footer-info-text{
 padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  margin-top: 80px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  text-align: center;
}

.footer-info-item{
  margin-bottom: 10px;
}

/* ----------------MODAL--------------------- */

.backdrop {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);;
  
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  
  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill:var(--black-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-btn {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.close-btn:hover .modal-icon {
  fill: var(--accent-color)
}

.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.top-title {
  margin-top: 12px;
}

.form-field{ 
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label,
.comment-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}


.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(25%);

  display: inline-block;
  width: 12px;
  height: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover ~ .input-icon,
.form-input:focus ~ .input-icon {
  fill:var(--accent-color)
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:hover, 
textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0,5);
}

.form-field-chek {
  padding-left: 14px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.icon-chek {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
 }

.form-checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.form-checkbox:checked + .icon-chek {
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--accent-color);
  background-origin: border-box;
  border-color: var(--accent-color);
}

.policy-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.policy-link {
  margin-left: 4px;
  color:   rgba(33, 150, 243, 1);
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
 
  margin: 0 auto;
  padding: 10px 56px;
  
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color:var(--hero-background-color)
}