:root {
  --primary-text-color: #212121;
  --secondary-text-color: #979797;
  --white-text-color: #ffffff;
  --accent-color: #e21212;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #b4b4b4;
  --yellow-background-color: #f4b404;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
}

/* убираем точки списков */
.list {
  list-style: none;
}

/* убираем подчеркивание ссылок */
.link {
  text-decoration: none;
}

/* глобальный сброс margin, padding */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19;
  align-items: center;
  text-align: center;
  text-transform:uppercase;
  
    
  color: var(--accent-color);
}

.section-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-transform:uppercase;

  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* ------------header-------------- */

.header {
  position: fixed;  
  top: 0;  
  z-index: 100;  
  width: 100%; 

  border-bottom: 1px solid #2b2828;
  background-color: #2f303a;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  margin-left: 40px;
}

.header-nav-item:not(:last-child) {
  margin-right: 35px;
}

.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--white-text-color);

  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-list {
  display: flex;
  margin-left: auto;
}

.header-contact-item + .header-contact-item {
  margin-left: 35px;
}

.header-contact-link, .team-contact-link {
  display: inline-flex;
  padding: 32px 0px 32px;
  /* color: var(--secondary-text-color); */
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus,
.team-contact-link:hover,
.team-contact-link:focus {
  color: var(--accent-color);
}

.header-nav-link.current {
  color: var(--accent-color);
}

.header-nav-link.current::after { 
  position: absolute;

  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;

  background-color: var(--accent-color);
}

/* ------------hero-------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-top: 100px;

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/ochrona.jpg);
  background-color: var(--hero-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* ------------services-section-------------- */

.services-section{
      position: relative;
padding: 50px;
  }

.services-section::before{
 content: "";
  width: 100%;
  height: 40vw;
  background-image: linear-gradient(var(--yellow-background-color), var(--white-background-color));
  position: absolute;
  top: 0;
  left: 0;
  transform: skewX(-50deg);
  transform-origin: left top;
  z-index: -1;
}

.services-text, .team-slogan{
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 40px;
   text-transform: uppercase;
}

.services-list{
 display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 35px;
}

.services-item{
    border: 1px solid #2b2828;
    background-color: var(--team-background-color);
    padding: 10px;
    width: 350px;
    max-width: 440px;
    color: var(--primary-text-color);
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);


}

.services-title{
margin-bottom: 20px;

    font-weight: 600;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

.services-title-text{
      text-align:center;
}

/* ------------team-section-------------- */

.team-section{
background-image: linear-gradient(
      to right,
      rgba(36, 37, 45, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/black-grunge-surface-texture_548373-634.avif);
  background-color: var(--hero-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;   
    padding: 60px;
}

.team-text{
    font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
    color: var(--white-text-color);
    text-align: center;
margin-bottom: 5px;}

.team-list{
    margin-top: 60px;

     display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 35px;
}

.team-item{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);

  border: 1px solid #2b2828;
    background-color: var(--team-background-color);
    padding: 10px;
    width: 1000px;
    max-width: 600px;
    color: var(--primary-text-color);
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.team-img{
        border-radius: 16px;
    box-shadow: 40px 40px 40px rgba(250, 249, 249, 0.1);

}

.team-contact-link{
    font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

/* ------------experience-section-------------- */


.experience-section{
position: relative;
padding: 60px;
}

.experience-section::before{
 content: "";
  width: 100%;
  height: 40vw;
  background-image: linear-gradient(var(--yellow-background-color), var(--white-background-color));
  position: absolute;
  top: 0;
  right: 0;
  transform: skewX(-50deg);
  transform-origin: right top;
  z-index: -1;
}

.team-slogan{
margin-bottom: 60px;
}

.experience-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.experience-item{
    background-color: var(--team-background-color);
    padding: 10px;
    width: 350px;
    max-width: 400px;
    color: var(--primary-text-color);
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);

  border-radius: 16px;
    box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
}

.experience-pretext{
  font-weight: 900;
  font-size: 50px;
  line-height: 1.6;
  letter-spacing: 0.04em;

  color: var(--accent-color);
}

.experience-text{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

/* ------------client-section-------------- */

.client-section{
padding: 60px;
  background-color: var(--hero-background-color);

}


.client-section-title{
  color: var(--white-text-color);
  margin-bottom: 30px;
}

.client-text{
  color: var(--white-text-color);
  margin-bottom: 30px;
  text-align: center;
}

.client-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.client-item{
   border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.87);

  border-radius: 16px;
    box-shadow: 10px 40px 30px rgba(255, 255, 255, 0.1);
    padding: 50px;
}